# Assignment_20

## 1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.

In [1]:
#Solution
# Set the variable test1 to the string
test1 = 'This is a test of the emergency text system,'

# Specify the file name
file_name = 'test.txt'

# Open the file in write mode and write the contents of test1
with open(file_name, 'w') as file:
    file.write(test1)

## 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
#Solution
# Specify the file name
file_name = 'test.txt'

# Initialize the test2 variable as an empty string
test2 = ''

# Open the file in read mode and read its contents into test2
with open(file_name, 'r') as file:
    test2 = file.read()

# Check if there is a difference between test1 and test2
if test1 == test2:
    print("There is no difference between test1 and test2.")
else:
    print("There is a difference between test1 and test2.")

There is no difference between test1 and test2.

## 3. Create a CSV file called books.csv by using these lines: 
## title,author,year 
## The Weirdstone of Brisingamen,Alan Garner,1960
## Perdido Street Station,China Miéville,2000
## Thud!,Terry Pratchett,2005
## The Spellman Files,Lisa Lutz,2007
## Small Gods,Terry Pratchett,1992

In [3]:
#Solution
import csv

# Data to write to the CSV file
data = [
    ['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', 1960],
    ['Perdido Street Station', 'China Miéville', 2000],
    ['Thud!', 'Terry Pratchett', 2005],
    ['The Spellman Files', 'Lisa Lutz', 2007],
    ['Small Gods', 'Terry Pratchett', 1992]
]

# Create and write to the CSV file
with open('books.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

## 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [1]:
#Solution
import sqlite3

# Create a connection to the database (or create it if it doesn't exist)
conn = sqlite3.connect("books.db")

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Define the SQL statement to create the "books" table
create_table_sql = '''
    CREATE TABLE IF NOT EXISTS books (
        title TEXT,
        author TEXT,
        year INTEGER
    )
'''

# Execute the SQL statement to create the table
cursor.execute(create_table_sql)

# Commit the changes and close the connection
conn.commit()
conn.close()

## 5. Read books.csv and insert its data into the book table.

In [ ]:
#Solution
import sqlite3
import csv

# Create a connection to the database
conn = sqlite3.connect("books.db")
cursor = conn.cursor()

# Read data from the CSV file and insert it into the "books" table
with open('books.csv', 'r') as csv_file:
    csv_reader = csv.reader(csv_file)
    next(csv_reader)  # Skip the header row if it exists

    for row in csv_reader:
        title, author, year = row
        cursor.execute("INSERT INTO books (title, author, year) VALUES (?, ?, ?)", (title, author, int(year)))

# Commit the changes and close the connection
conn.commit()
conn.close()

## 6. Select and print the title column from the book table in alphabetical order.

In [ ]:
#Solution
import sqlite3

# Create a connection to the database
conn = sqlite3.connect("books.db")
cursor = conn.cursor()

# Select the "title" column from the "books" table in alphabetical order
cursor.execute("SELECT title FROM books ORDER BY title ASC")

# Fetch all the rows from the result set
rows = cursor.fetchall()

# Print the titles
for row in rows:
    print(row[0])

# Close the connection
conn.close()

## 7. From the book table, select and print all columns in the order of publication.

In [ ]:
#Solution
import sqlite3

# Create a connection to the database
conn = sqlite3.connect("books.db")
cursor = conn.cursor()

# Select all columns from the "books" table in the order of publication
cursor.execute("SELECT * FROM books ORDER BY year ASC")

# Fetch all the rows from the result set
rows = cursor.fetchall()

# Print the rows
for row in rows:
    print(row)

# Close the connection
conn.close()

## 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [ ]:
#Solution
To connect to the SQLite database "books.db" using the SQLAlchemy module in Python, we'll first need to install SQLAlchemy if we haven't already. We can install it using pip:

pip install sqlalchemy

Once we've installed SQLAlchemy, we can create a connection to the "books.db" database as follows:

from sqlalchemy import create_engine

# Create an SQLAlchemy database engine
engine = create_engine('sqlite:///books.db')

# Connect to the database
connection = engine.connect()

# Now we can use the 'connection' object to interact with the database

## 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for test.

In [ ]:
#Solution
Installing the Python redis library: We can install it using pip:
    
pip install redis

Here's a Python script to create a Redis hash called "test" with the specified fields and then print all the fields:

import redis

# Connect to the Redis server
# We create a connection to the local Redis server running on the default port (6379) and use the database with index 0.
r = redis.Redis(host='localhost', port=6379, db=0)

# Create a Redis hash called "test" with fields count and name
r.hset('test', 'count', 1)
r.hset('test', 'name', 'Fester Bestertester')

# Retrieve all the fields and their values from the "test" hash
test_data = r.hgetall('test')

# Print the fields and their values
for field, value in test_data.items():
    print(f'{field.decode("utf-8")}: {value.decode("utf-8")}')

## 10. Increment the count field of test and print it.

In [ ]:
#Solution
import redis

# Connect to the Redis server
r = redis.Redis(host='localhost', port=6379, db=0)

# Increment the "count" field of the "test" hash
incremented_value = r.hincrby('test', 'count', 1)

# Print the updated count
print(f'Updated count: {incremented_value}')